<form method="post" action="/updatevehicle">

VehicleId<input type="text" name="vehicleId" value=<%=result.vehicleId%> /><br/>
Vehiclebrand<input type="text" name="vehiclebrand" value=<%=result.vehiclebrand%> /><br/>
Price<input type="text" name="price" value=<%=result.price%> /><br/>
deperciation<input type="text" name="deperciation" value=<%=result.deperciation%> /><br/>
numberofyears<input type="text" name="numberofyears" value=<%=result.numberofyears%> /><br/>
totalprice<input type="text" name="totalprice" value=<%=result.totalprice%> /><br/>
<input type="submit" name="v1" value="Submit" /><br/>

</form>
<!-- 
<form method="post" action="/updatevehicle"  enctype="multipart/form-data">
    Vehcileid<input type="text" name="vehicleid" value=<%=result.vehicleId%>/><br/>
     vehiclebrand<input type="text" name="vehiclebrand" value=<%=result.vehiclebrand%>/><br/>
     price <input type="number" name="price" value=<%=result.price%>/><br/>
     deperciation<input type="number" name="deperciation" value=<%=result.deperciation%>/><br/>
     numberofyears<input type="number" name="numberofyears" value=<%=result.numberofyears%>/><br/>
     totalprice<input type="number" name="totalprice" value=<%=result.totalprice%>/><br/>
     <input type="submit" name="s1" value="Submit" /><br/>
   </form> -->